<h1>Topic: <%= @topic.name.gsub('_', ' ').capitalize %></h1>

<div class="single-bar-chart">
  <h2>Posts about <%= @topic.name.gsub('_', ' ') %> by school</h2>
  <div id="bar-chart-topic-school" class="chart"></div>
</div>

<div class="single-bar-chart">
  <h2>Words and phrases students are using to talk about  <%= @topic.name.gsub('_', ' ') %> </h2>
  <div id="bar-chart-topic" class="chart"></div>
</div>

<script>
  var data2 = <%= @ratings_by_school.to_json.html_safe %>;
  barChart(data2);

  var data = <%= @popular_words.to_json.html_safe %>;
  barChartTopic(data);
</script>



