<h1>See What Schools are Talking About</h1>

<div id="schools-info">

	<div id="schools-list">
		<div id="schools-container">
		  <%@schools.reverse.each do |school|%>
		    <div><%= link_to(image_tag("#{school.geofeedia_id}.png"), school_path(school)) %></div>
		  <%end%>
		</div>
	</div>

	<div id="schools-steps">
			<div class="step">
				<%= image_tag("social_media.png")%>
				<h3>College students post on social media</h3>
			</div>
			<div class="step">
				<%= image_tag("map.png")%>
				<h3>We gather posts from each campus</h3>
			</div>
			<div class="step">
				<%= image_tag("desk.png")%>
				<h3>We analyze what they're talking about</h3>
			</div>
			<div class="step">
				<%= image_tag("chart.png")%>
				<h3>You get a glimpse into campus culture</h3>
			</div>
		</div>
	</div>

</div>