<h1><%= @school.name %></h1>

<h2>Student body count: <%= @school.student_body_count %></h2>
<h2>Post (Social media) count: <%= @school.post_count %></h2>
<h2>Social Media Activity: <%= @school.social_media_activity %></h2>
<h2>Positive Vibe Count: <%= @school.positive_vibe_ratio %></h2>
<h2>Negative Vibe Count: <%= @school.negative_vibe_ratio %></h2>
<h2>Neutral Vibe Count: <%= @school.neutral_vibe_ratio %></h2>
<h2>Mixed Vibe Count*: <%= @school.mixed_vibe_ratio %></h2>
<p>*mixed_vibe_ratio may be dropped from final product</p>


<h1>Ratings</h1>

<table>
  <tr>
    <td>Rating ID</td>
    <td>Topic</td>
    <td>School</td>
    <td>Activity</td>
    <td>Pos</td>
    <td>Neg</td>
    <td>Neu</td>
    <td>Mix</td>
  </tr>

  <% @ratings.each do |rating| %>

  <tr>
    <td><%= rating.id %></td>
    <td>(<%= rating.topic_id %>) <%= rating.topic.name %></td>
    <td>(<%= rating.school_id %>) <%= rating.school.name %></td>
    <td><%= rating.topic_activity_ratio %></td>
    <td><%= rating.topic_positivity_ratio %></td>
    <td><%= rating.topic_negativity_ratio %></td>
    <td><%= rating.topic_neutral_ratio %></td>
    <td><%= rating.topic_mixed_ratio %></td>
  </tr>

  <% end %>

</table>
