<h1><%= @school.name %></h1>

<h2>Pie chart: Positive vs. Negative</h2>

    <!-- Helpful example from https://gist.github.com/enjalot/1203641 -->
    <script type="text/javascript">

    var w = 500,                        //width
    h = 500,                            //height
    r = 200,                            //radius
    color = d3.scale.category20c();     //builtin range of colors

    // data = [{"label":"Good", "value":60},
    //         {"label":"Bad", "value":30},
    //         {"label":"Other", "value":10}];

    var json = '<%= @social_media_profile.html_safe %>';
    var data = jQuery.parseJSON(json);


    data = [{"label":"Good", "value": data.positive_social_ratio},
            {"label":"Bad", "value": data.negative_social_ratio}];



    var vis = d3.select("body")
        .append("svg:svg")              //create the SVG element inside the <body>
        .data([data])                   //associate our data with the document
            .attr("width", w)           //set the width and height of our visualization (these will be attributes of the <svg> tag
            .attr("height", h)
        .append("svg:g")                //make a group to hold our pie chart
            .attr("transform", "translate(" + r + "," + r + ")")    //move the center of the pie chart from 0, 0 to radius, radius

    var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
        .outerRadius(r);

    var pie = d3.layout.pie()           //this will create arc data for us given a list of values
        .value(function(d) { return d.value; });    //we must tell it out to access the value of each element in our data array

    var arcs = vis.selectAll("g.slice")     //this selects all <g> elements with class slice (there aren't any yet)
        .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties)
        .enter()                            //this will create <g> elements for every "extra" data element that should be associated with a selection. The result is creating a <g> for every object in the data array
            .append("svg:g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
                .attr("class", "slice");    //allow us to style things in the slices (like text)

        arcs.append("svg:path")
                .attr("fill", function(d, i) { return color(i); } ) //set the color for each slice to be chosen from the color function defined above
                .attr("d", arc);                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function

        arcs.append("svg:text")                                     //add a label to each slice
                .attr("transform", function(d) {                    //set the label's origin to the center of the arc
                //we have to make sure to set these before calling arc.centroid
                d.innerRadius = 0;
                d.outerRadius = r;
                return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
            })
            .attr("text-anchor", "middle")                          //center the text on it's origin
            .text(function(d, i) { return data[i].label; });        //get the label from our original data array


    var data2 = <%= @ratings_profile.to_json.html_safe %>;


    // data = [{"label":"Good", "value": data2.positive_social_ratio},
    //         {"label":"Bad", "value": data2.negative_social_ratio}];

    </script>

    <script>

    </script>

<h2>Student body count: <%= @school.student_body_count %></h2>
<h2>Post (Social media) count: <%= @school.post_count %></h2>
<h2>Social Media Activity: <%= @school.social_media_activity %></h2>
<h2>Positive Vibe Count: <%= @school.positive_vibe_ratio %></h2>
<h2>Negative Vibe Count: <%= @school.negative_vibe_ratio %></h2>
<h2>Neutral Vibe Count*: <%= @school.neutral_vibe_ratio %></h2>
<h2>Mixed Vibe Count*: <%= @school.mixed_vibe_ratio %></h2>
<p>*mixed_vibe_ratio may be dropped from final product</p>


<h1>Ratings</h1>

<table>
  <tr>
    <td>Rating ID</td>
    <td>Topic</td>
    <td>School</td>
    <td>Activity</td>
    <td>Pos</td>
    <td>Neg</td>
    <td>Neu</td>
    <td>Mix</td>
  </tr>

  <% @ratings.each do |rating| %>

  <tr>
    <td><%= rating.id %></td>
    <td>(<%= rating.topic_id %>) <%= rating.topic.name %></td>
    <td>(<%= rating.school_id %>) <%= rating.school.name %></td>
    <td><%= rating.topic_activity_ratio %></td>
    <td><%= rating.topic_positivity_ratio %></td>
    <td><%= rating.topic_negativity_ratio %></td>
    <td><%= rating.topic_neutral_ratio %></td>
    <td><%= rating.topic_mixed_ratio %></td>
  </tr>

  <% end %>

</table>

<p>----------------------------------------</p>

<%= @ratings_profile %>
