<h1><%= @school.name %></h1>

<div class="chart-div">
    <h2>Negativity vs Positivity</h2>
    <h3>The overall tone of the social media posts coming out of <%= @school.name %></h3>
  <div id="pie-chart" class="pie-chart"></div>
</div>


<div class="chart-div">
  <h2>Topics</h2>
  <h3>How students at <%= @school.name %> have been talking about different topics</h3>
  <div id="bar-chart-school" class="bar-chart"></div>
</div>

<br><br><br><br><br><br><br><br>

<script>
  var json = '<%= @social_media_profile.html_safe %>';
  var data = jQuery.parseJSON(json);
  pieChart(data, "#pie-chart");

  var data2 = <%= @ratings_profile.to_json.html_safe %>;
  barChartSchool(data2, "#bar-chart-school");
</script>
