<h1>About Us and Our Process</h1>

<h3>&nbsp;Information about the culture of different college campuses is spotty at best, and mostly self-reported.  We want to show a more objective view of culture on campuses by tracking the social media output via Geofeedia, which grabs social media output from Twitter, Facebook, Instagram, Youtube, Picasa and Viddy from highly specific locations.  We use Alchemy to analyze the posts we gather, which performs sentiment analysis to deduce their overall positivity or negativity, the important words used in the post, and how those words were talked about.  Then we generate statistics about words and topics from that information, and deliver it to you in some tidy graphs.</h3><br><br>

<p>This was created as a final project for DevBootcamp. We would like to give a huge thank you to both Geofeedia and Alchemy for allowing us to use their services under student license!  Here's a comprehensive list of all of the technologies we used:</p><br>
<%= image_tag("geofeedia.png", id: "geofeedia")%>
<%= image_tag("alchemy.png", id: "alchemy")%>
<%= image_tag("ruby.jpeg", id: "ruby")%>
<%= image_tag("rails.png", id: "rails")%>
<%= image_tag("html5css3js.png", id: "htmlcssjs")%>
<%= image_tag("jasmine.png", id: "jasmine")%>
<%= image_tag("heroku.jpeg", id: "heroku")%>
<%= image_tag("amazon.png", id: "amazon")%>
<%= image_tag("travisci.png", id: "travis")%>
<%= image_tag("coveralls.png", id: "coveralls")%>
<%= image_tag("sidetiq.png", id: "sidetiq")%>
<%= image_tag("redis.png", id: "redis")%>
<%= image_tag("d3.png", id: "d3")%>
<%= image_tag("sidekiq.jpeg", id: "sidekiq")%>
<%= image_tag("rspec.png", id: "rspec")%>
<br><br>
<p>Team: Andrew, Daniel, Jay, Jess, Lauren</p>
