<!DOCTYPE html>
<html>
  <head>
    <title>trUism</title>
    <%= stylesheet_link_tag "normalize", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//use.edgefonts.net/quicksand;lato:n1,i1,n3,i3,n4,i4,n7,i7,n9,i9.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="transparent-background">
      <% unless @disable_nav %>
        <%= render 'layouts/header'%>
        <div class="container">
                <% end %>

          <%= yield %>

        </div>
        <%= render 'layouts/footer'%>
    </div>
  </body>
</html>
