<!DOCTYPE html>
<html>
<head>
  <title>CollegeCultureFit</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>WOW IT'S AN APP</h1>

  <%= link_to "Home", controller: "welcome" %>
  <%= link_to "Topics", controller: "topics" %>
  <%= link_to "Schools (index)", controller: "schools" %>
  <%= link_to "Schools (compare)", compare_path %>
  <%= link_to "About", controller: "about" %>

  <hr>

<%= yield %>
<hr>
<p>Footer stuff. Andrew, Daniel, Jay, Jess, Lauren.</p>

</body>
</html>
