<!DOCTYPE html>
<html>
<head>
  <title>trUism</title>
  <%= stylesheet_link_tag "normalize", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>
  <%= render 'layouts/header'%>
  <hr>

<%= yield %>
<hr>
<%= render 'layouts/footer'%>
</body>
</html>
